@import url('https://fonts.googleapis.com/css2?family=Honk&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk:MORF,SHLN@0,87.6&family=Neucha&family=Rubik+Doodle+Shadow&display=swap');


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
}

body{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20240224/pngtree-creative-wave-style-sea-water-image_15627397.jpg);
    background-size: 100%;
}

header {
    background-color: #ffffff;
    color: #7b2eff;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    width: 100%;
}

#header {
    font-size: 1.8em;
    margin: 0;
}

#logo {
    max-width: 90px;
    height: auto;
    margin-right: 20px;
}

h1 {
    margin: 0;
    padding: 0;
}

#divisiones {
    display: flex;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    width: 70%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    justify-content: space-around;
    margin: 5% auto;
    flex-wrap: wrap;
    margin-top: 8%;
    margin-left: auto;
}

#divisiones h1 {
    color: #8400ff;
    width: 100%;
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(25, 21, 255);
    font-size: 40px;
}

#divisiones p {
    font-family: "Neucha", cursive;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

#divisiones:hover {
    background-color: #ffffffca;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Aquí se define la sombra */
    box-sizing: border-box;
    color: #000000;
}

#bienvenidos:hover,
#nombres:hover {
    opacity: 0.8;
}

#bienvenidos,
#nombres {
    flex: 1;
    min-width: 300px;
    margin: 10px;
}

.welcome-container,
#nombres {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.welcome-container p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #8a14ea;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para la página de simulación */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.container {
    margin-top:5% ;
    vertical-align: middle;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    border: none;
    width: 80%;
}

.container1 {
    margin-top:5% ;
    vertical-align: middle;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    border: none;
    width: 50%;
    
}


.left-panel,
.center-panel,
.right-panel, .left-panel1, .center-panel1{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.left-panel, .left-panel1 {
    width: 50%;
    display: flex;
    border: none;
    flex-direction: column;
}


.left-panel h1, .left-panel1 h1{
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(25, 21, 255);
    font-size: 40px;
    margin-bottom: 25px;
}

.left-panel1{
    width: 40%;
}

.right-panel{
    width: 30%;
    vertical-align: middle;
}
h1,
h2 {
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: calc(80% - 10px);
    padding: 8px;
    box-sizing: border-box;
}


#resultArea {
    font-size: 15px;
    width: 97%;
    background-color: #8dc4ffc5;
}

pre {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 400px;
    white-space: pre-wrap;
}

#img1,
#img2 {
    width: 100%;
    height: 80%;
    border-radius: 5px;

}

.center-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.center-panel1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}


/* Media query for responsiveness */
@media (max-width: 768px) {
    .container, .container1 {
        margin-top: auto;
        flex-direction: column;
        width: 90%;
    }

    .left-panel, .left-panel1 {
        width: 100%;
        /* Cambiar el ancho a 50% */
        border: none;
    }

    .center-panel, .center-panel1 {
        width: 100%;
        /* Cambiar el ancho a 100% */
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
    
}

@media (max-width: 768px) {
    #divisiones {
        width: 90%;
        margin-top: 5%;
        /* Ajuste de margen superior */
    }

    #logo {
        max-width: 30px;
    }

    #header {
        font-size: 1.5em;
    }

    #bienvenidos,
    #nombres {
        min-width: auto;
        /* Eliminar el ancho mínimo */
    }
}
@media (max-width: 768px) {
    header {
        padding: 20px; /* Ajustado el padding para dispositivos móviles */
    }

    #header {
        font-size: 1.2em; /* Reducido el tamaño de fuente */
    }

    #logo {
        max-width: 40px; /* Reducido el tamaño del logo */
    }

    #divisiones {
        width: 90%; /* Ajustado el ancho */
        margin-top: 10%; /* Ajustado el espacio superior */
    }
    #divisiones {
        /* Resto de los estilos */
        margin-top: 0; /* Eliminado el margen superior */
    }
}
#tank {
    position: relative; /* Aseguramos que la posición absoluta del agua sea relativa al tanque */
    width: 80px; /* Ancho fijo del tanque */
    height: 200px; /* Altura fija del tanque */
    border: 2px solid black; /* Borde del tanque */
    overflow: hidden; /* Ocultar el contenido que excede el tamaño */
}

#waterLevel {
    position: absolute; /* Posición absoluta dentro del tanque */
    bottom: 0; /* Anclar el nivel del agua en la parte inferior del tanque */
    width: 100%; /* Ancho del nivel del agua al 100% del tanque */
    background-color: rgba(100, 100, 255, 0.8); /* Color del agua */
    height: 0; /* Altura inicial del agua (vacío) */
    transition: height 1s; /* Animación de la altura del agua */
}

#waterText, #timeText {
    /* position: absolute; */
    left: 5px;
    bottom: 5px;
    color: rgb(81, 80, 80);
    font-size: 12px;
}
#timeText{
    padding:6px;
}
#waterHeightText, #timeTextValue {
    font-weight: bold;
}



.right-panel {
    width: 30%;
    justify-content: center; /* Centrar el contenido verticalmente */
}

canvas {
    display: block;
    margin: 0 auto; /* Centramos el canvas horizontalmente */
}


/* Ajustar estilos del texto */
#waterText,
#timeText {
    color: black;
    font-size: 14px;
    margin: 5px 0;
}

